<h2>Children in the system</h2>

<table>
  <tr>
    <th width="200" align="left">Name</th>
    <th width="120">Active</th>
    <th width="120">Earned Pts</th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= link_to child.name, child_path(child) %></td>
    <td align="center"><%= child.active %></td>
    <td align="center"><%= child.points_earned %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Child', new_child_path %>
