<div id="<%= dom_id chore %>">
  <p>
    <strong>Child:</strong>
    <%= chore.child_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= chore.task_id %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= chore.due_on %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= chore.completed %>
  </p>

</div>
