<%= form_with(model: chore) do |form| %>
  <% if chore.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
        <% chore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :child_id, style: "display: block" %>
    <%= form.number_field :child_id %>
  </div>

  <div>
    <%= form.label :task_id, style: "display: block" %>
    <%= form.number_field :task_id %>
  </div>

  <div>
    <%= form.label :due_on, style: "display: block" %>
    <%= form.date_field :due_on %>
  </div>

  <div>
    <%= form.label :completed, style: "display: block" %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
